page-donate {
	.solid-button {
    	text-transform: none;
    	width: 11em;
    	height: 3em;
    	color: white;
    	background-color: #ff0a70;
    	border-radius: 5px;
    }

	.solid-button:active {
    	text-transform: none;
    	width: 11em;
    	height: 4em;
    	color: white;
    	background-color: #f977ae;
    	border-radius: 5px;
    }

    
    #donate-div { /* Donate Button Container */
        width: 100%;
        position: absolute;
        bottom: 5%; 
        text-align: center;
    }
}
